*{
  box-sizing: border-box;
}


body {
  /* border-style: solid ; */
  /* border-color: black; */
  font-family: 'Playfair Display', serif;
  color: rgb(219, 212, 212);
  display: flex;
  /* min-height: 100vh;  */
   /* flex-direction: column;  */
  background-color: gray;
  
}
.container {
  border:  3px solid black;
  
  margin-bottom: 40px;
  
}

.row {
  margin-bottom: 0px;
}

.nav {
  background-color: rgb(1,89,160);
  height: 200px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

}

  h5 {
    text-align:left;
  }
  
  h6 {
    text-align: right;
    padding: 20px;
    font-family: 'Parisienne', cursive;
    margin-bottom: 40px;
  }

  p {
    text-align: center;
    font-family: 'Parisienne', cursive;
    height: 20px;
    text-size-adjust: 50px;
  }

  header h5 {
    text-align: center;
  }

  #side-bar {
    background-color: rgb(1,89,160);
    height: 100%;
    min-height: 800px !important; 
    max-height: 1000px !important; 
    padding-left: 20px;
    padding-right: 20px;
       
     }

  form {
    padding: 40px;
    margin-top: 60px;
      
    }

  #main{
    background-color: aquamarine;
    /* height: 100%; */
    min-height: 800px !important; 
    max-height: 1000px !important; 
    /* flex: 1 0 auto; */
    
  }

  #main-content {
    border-style: solid;
    overflow: auto;
    border-color: black;
    /* margin: auto 0; */
    height: 700px;
    width: auto;
    margin: 10px; 
    background-color: gray;
    padding: 50px;
    }

  
  
  #main-content p {
    text-align: center;
    font-size: 20px;

  }

 
  #main-content h3 {
    color: red;

   }

   #main-content h4 {
     color: blue;

   }

   #main-content h5 {
     color: green;


   }

#playlist {
  color: wheat;
  text-align: center;
}

.inside {
  list-style-position: inside;
}

#player {
  text-align: center;
}

#buttons {
  cursor: pointer; 
  display: inline-block;
  color: black;
}

a {
  color: maroon;
}

#white-text {
  text-align: center;
}

.page-footer {

  background-color:  rgb(1,89,160);
 
  
}







  


 
