body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: gray;
  }


  #main-content {
    background-color: aquamarine;
    height: 100%;
    min-height: 1000px !important;
  }


  #side-bar {
    background-color: rgb(1,89,160);
    height: 100%;
    min-height: 1000px !important;
  }

  nav {
    background-color: rgb(1,89,160);
    height: 200px;

  }

h5 {
  text-align: center;
}

h6 {
  text-align: right;
  padding: 20px;
  font-family: 'Parisienne', cursive;
}

form {
  margin-top: 30px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#grey-text  {
  position: center;
}
.container {
  position: center;
}
p {
  text-align: center;
  font-family: 'Parisienne', cursive;
  height: 20px;
  text-size-adjust: 50px;
}



  


 
